.structuredprefill-center-text {
    display: block;
    text-align: center;
}

.structuredprefill-settings-group {
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    padding: 5px 7px;
    margin-bottom: 2px;
}

.structuredprefill-settings-group > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.structuredprefill_settings input[type="checkbox"] {
    margin-left: 1px;
    margin-right: 1px;
}
